/*Full Width Element*/
/*Width Auto Element*/
/*Margin Left Auto Element*/
/*Margin Left Auto Element*/
/*Site Default Colors*/
/*Border Radius*/
/*Hidden Mobile Element*/
.visible\@d {
  display: none !important; }

/*Visible Desktop Element*/
@media (min-width: 1024px) {
  .visible\@d {
    display: inherit !important; } }

[class*="icon-"], .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
  font-size: 32px; }

/**************** ****************
    
Site General Flex Class Items
    
***************** ****************/
.display-flex {
  display: flex; }

.justify-center {
  justify-content: center; }

.justify-start {
  justify-content: flex-start; }

.justify-end {
  justify-content: flex-end; }

.justify-between {
  justify-content: space-between; }

.align-items-center {
  align-items: center; }

.align-items-start {
  align-items: flex-start; }

.align-items-end {
  align-items: flex-end; }

/*Default Flex Order List*/
.order-1, .header-basket .logo {
  order: 1; }

.order-2, .header-basket .member {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

/**************** ****************
    
Site General Grid Class Items
    
***************** ****************/
.display-grid {
  display: grid; }

.ga1 {
  grid-area: AAA; }

.ga2 {
  grid-area: BBB; }

.ga3 {
  grid-area: CCC; }

.ga4 {
  grid-area: DDD; }

.ga5 {
  grid-area: EEE; }

.sticky {
  position: -webkit-sticky;
  position: sticky; }

/*Site Header Grid*/
.header {
  background: #202020;
  min-height: 50px; }

.order-steps .header-site {
  display: none; }

.member-login-txt {
  font-family: "maison_neuemedium";
  color: #ffffff;
  margin-right: 5px; }

.tabloTabBtnAdim > tbody > tr > td {
  display: table;
  table-layout: fixed;
  width: 100%; }

.tabloTabBtnAdim .tabBtnAdimDefault,
.tabloTabBtnAdim .tabBtnSelectedDefault {
  width: 33.333%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative; }
  .tabloTabBtnAdim .tabBtnAdimDefault > a,
  .tabloTabBtnAdim .tabBtnSelectedDefault > a {
    display: block; }
  .tabloTabBtnAdim .tabBtnAdimDefault:after,
  .tabloTabBtnAdim .tabBtnSelectedDefault:after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: none;
    border-radius: 100%;
    margin-left: auto;
    margin-top: 3px;
    margin-right: auto; }
  .tabloTabBtnAdim .tabBtnAdimDefault .icon,
  .tabloTabBtnAdim .tabBtnSelectedDefault .icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #202020;
    fill-opacity: .4; }
  .tabloTabBtnAdim .tabBtnAdimDefault .step-txt,
  .tabloTabBtnAdim .tabBtnSelectedDefault .step-txt {
    font-family: "maison_neuebook";
    color: #202020;
    opacity: .4;
    font-size: 14px; }

.tabloTabBtnAdim .tabBtnSelectedDefault .icon {
  fill-opacity: inherit;
  color: #202020; }

.tabloTabBtnAdim .tabBtnSelectedDefault .step-txt {
  color: #202020; }

.tabloTabBtnAdim .tabBtnSelectedDefault:after {
  background: #3d5deb; }

/*Site General Page Height */
.page {
  height: 100%; }

/*Basket Page Background Color*/
.page-basket {
  background: #f3f3f7; }

@supports (grid-area: auto) {
  @media screen and (min-width: 1024px) {
    .basket-steps {
      max-width: 500px;
      margin-left: auto;
      margin-top: -80px;
      margin-right: auto;
      min-height: 80px; }
    .tabloTabBtnAdim > tbody > tr > td {
      min-height: 80px; }
    .tabloTabBtnAdim .tabBtnAdimDefault:after,
    .tabloTabBtnAdim .tabBtnSelectedDefault:after {
      width: 6px;
      height: 6px; }
    .tabloTabBtnAdim .tabBtnAdimDefault .step-txt {
      color: #ffffff; }
    .tabloTabBtnAdim .tabBtnAdimDefault .icon {
      color: #f1f1fa; }
    .tabloTabBtnAdim .tabBtnSelectedDefault .icon {
      color: #ffffff; }
    .tabloTabBtnAdim .tabBtnSelectedDefault .step-txt {
      color: #ffffff;
      opacity: inherit; }
    /*Site Desktop Container (max-width)*/
    .container-width {
      width: calc(100% - 100px);
      margin-left: auto;
      margin-right: auto; } } }

/*# sourceMappingURL=genel.css.map */