/**************** ****************
    
Site General Flex Class Items
    
***************** ****************/
.display-flex{
    display: flex;  
}
.justify-center{
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}
.justify-end{
    justify-content: flex-end;
}
.justify-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-end{
    align-items: flex-end;
}

/*Css flex icin sıralama class listesi*/
.order{
    &-1{    
        order: 1;
    }
    &-2{
        order: 2;
    }
    &-3{
        order: 3;
    }
    &-4{
        order: 4;
    }
    &-5{
        order: 5;
    }
}
//Site ici genel sticky class'ı 
.sticky{
    position: -webkit-sticky;
    position: sticky;
    
}
//Site ici genel eleman gizleme class'ı
.ems-none{
    display: none; 
}