//Font variables
$regular: 'maison_neuebook';
$medium: 'maison_neuemedium';
$bold: 'maison_neuedemibold';

//Site Desktop Breakpoint
$breakpoint-default: 1024px;

//Button Background variables
$btnBackground: #3d5deb;
$btnAlternateBackground: #ffffff;

//Button Color variables
$btnColor: #ffffff;
$btnAlternateColor: #3d5deb;

//Button Border variables
$btnBorder: #3d5deb;

// Input Border
$inputBorder: #cecfd4;

//Site Warning Grid
$warningBorder: #e72f2f;
$warningBackground: #ffcaca;

//Site Link Underline
$linkUnderline: underline;

// Site Header Background
$siteHeaderBackground: #202020;

//Site Footer Background
$siteFooterBackground: #202020;

// Site Content Background
$siteContentBackground: #f3f3f7;

//Site Sliders Arrow General Background
$sliderArrowBackground: #696b71;

/*Full Width Element*/
$fullWidth: 100%;

/*Width Auto Element*/
$autoWidth: auto;

/*Margin Left Auto Element*/
$mLeftAuto: auto;

/*Margin Left Auto Element*/
$mRightAuto: auto;

/*Site Default Colors*/
$colorWhite: #ffffff;