//Site varsayilan butonlar
a.btnDefault{
    display: block;
    width: 100%;
    background: $btnBackground; 
    border-radius: $buttonRadius;
    text-align: center;
    padding: 16px 5px 15px 5px;
    > span{
        font-family: $bold;
        color: $colorWhite;
        font-size: $fontSize16;
    }
}
//Site alternatif butonlar
a.btnAlternate{
    display: block;
    width: 100%;
    border:1px solid $btnBorder;
    padding: 16px 5px 15px 5px;
    text-align: center;
    border-radius: $buttonRadius;
    > span{
        font-family: $bold;
        color: $btnAlternateColor;
        font-size: 16px;
    }
}
//Site alternatif yazı boyutu kücük butonlar
a.btnAlternateSmall{
    padding-top: 7px;
    padding-bottom: 6px;
    > span{
        font-size: 14px;
    }
}
//Site altı cizili butonları
a.btnLink{
    > span{
        font-size: 12px;
        color: $linkButtonColor;
        text-decoration: $linkUnderline;
    }
}
//Site arka plansız butonlar
a.btnAlisverisDevam,
a.btnSepetBosalt{
    background: none;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    > span{
        font-family:$regular;
        color: $colorAlternate;
        font-size: $fontSize14;
        @extend .display-flex;
        @extend .align-items-center;
    }
}
//Arka plansız buton sagdan margin ikon
a.btnRightIcon{
    .icon{
        @extend .m-rght-5;
    }
}
//Arka plansız buton soldan margin ikon
a.btnLeftIcon{
    .icon{
        @extend .m-lft-5;
    }
}