//Teslimat adres grid row
.grid-table-address{
    background: $colorWhite;
    border-radius: $basketModuleRadius;
}
//Teslimat adres rows
.grid-table-row-address {
    flex-wrap: wrap;
    &:not(:first-child){
        &:before{
            @extend .grid-brdr;
        }
    }
}
//Teslimat adres adı
.grid-address-name{
    width: 66.66666%;
    color: $colorDefault;
    font-size: $fontSize14;
    font-family: $bold;
    > span{
        @extend .display-block;
        color: $colorAlternate;
        font-family: $regular;
        font-size: $fontSize12;
        margin-top: 5px;
    }
}
//Teslimat adres butonları
.grid-address-buttons{
    width: 33.33333%;
    a.btnDefault {
        width: auto;
        line-height: 18px;
        @extend a.btnLink;

        //Butonlar arasi bosluk
        &:not(:first-child){
            margin-left:15px; 
         }
    }
}
//Teslimat adres alani
.grid-address{
    width: 100%;
}

//Adress form
.new-address{
    .form-inner{
        flex-wrap: wrap;
    }
}
//Kurumsal secim icin duzenleme
div.kurumsal{
    .field{
        &.tcCheck{
            .form-obj{
                @extend .mb-0;
            }
        }
    }
}
//Bireysel secim icin duzenleme
div.bireysel{
    .field{
        &.tcCheck-2{
            .form-obj{
                margin-bottom: 5px;
            }
        }
    }
}

//Adres tip secimi
div[id$="plhAdresTipi"]{
    > a{
        @extend .inline-block;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-bottom: 13px;
        //Ilk elemean icin sagdan bosluk veriliyor
        &:first-child{
            margin-right: 40px;
        }
    }
}