.page-basket{
    // Page top space
    &-inner{
        padding-top: $basketPageTopSpaceDt;
    }
}

.basket-grid {
    grid-template-columns: minmax(0,5%) minmax(auto,1fr) minmax(0,30px) minmax(0,380px) minmax(0,5%);
    grid-template-areas:
    ". AAA AAA AAA ."
    ". BBB . CCC .";

    // Basket top swiper bottom space
    .ga1{
        margin-bottom: $swiperTopBottomSpace;
    }
}