.page-basket{
    //Sepet sayfası ust bosluk
    &-inner{
        padding-top: $basketPageTopSpaceDt;
    }
    //Sepet row 1 swiper alt bosluk
    .rw1{
        margin-bottom: $swiperTopBottomSpace;
    }
}

.basket-grid {
    grid-template-columns: minmax(0,5%) minmax(0,33%) minmax(0,33%) minmax(0,33%) minmax(0,5%);
    grid-template-areas: ". AAA AAA BBB .";
    //Sepet urunler sağ padding boslugu
    .ga1{
        padding-right: $basketPageRightPadding;
    }
    //Sepet ozet sol padding boslugu
    .ga2{
        padding-left: $basketPageLeftPadding;
    }
}