//siparis ozet masaustu ızgara
.order-summary{
    //Siparis sepet ozet
    order: 1;
    margin-bottom: $orderSummaryMarginBottomDesktop;
    border-radius: $basketModuleRadius;

    //Siparis ozet avantaj ikonları
    &-benefit{
        order: 2;
    }
    //Siparis ozet yardim
    &-help{
        order: 3;
    }
    //Siparis ozet button alisveris
    .next {
        a.btnDefault{
            margin-top: $orderSummaryButtonNextTopSpace;
        }
    }
}

//Siparis adimlarina ozel css
.page-basket-other{
    //Siparis adimlari icin alt bosluk
    .order-summary{
        margin-bottom: 20px;
    }
}