//Siparis ozet ızgara
.order-summary{
    background: $orderSummaryBg;
    padding: $orderSummaryPadding;

    //Siparis ozet baslik
    .mn-20 > span{
        display: block;
        font-family: $medium;
        font-size: $orderSummaryTitle;
        margin-bottom: $orderSummaryTitleBottomSpace;
    }
    //Siparis ozet alt elementler icin alt alta siralama
    &-wrapper{
        flex-wrap: wrap;
        > *{
            width: 100%;
        }
    }
    //Sepet satin alma avantaj ikonları
    &-benefit{
        flex-wrap: wrap;
        li{
            width: 50%;
            text-align: $alignCenter;
            margin-bottom: $basketBenefitMarginBottom;
            .icon{
                margin-bottom: $basketBenefitIconMarginBottom;
            }
        }
    }
    //Siparis ozet yardim
    &-help{
        border: 1px solid $basketHelpBorderColor;
        border-radius: $basketHelpBorderRadius;
        padding: $basketHelpPadding;

        //Siparis ozet yardim footer metin renk deseni
        *{
            color: $colorAlternate;
        }
        //Siparis ozet yardim header
        .help-header{
            > span{
                font-size: $fontSize16;
                font-family: $medium;
            }
        }
        //Siparis ozet yardim footer
        .help-footer{
            //Yardım linkleri renk deseni
            *{
                font-size: $fontSize14;
            }
            > p, > a{
                //Yardım metin ve link ust bosluklari
                margin-top: 10px;
            }
            > a{
                display: inline-block;
            }
        }
    }
}
//Siparis ozet tablo ızgara
.pnlDipToplamTable{
    > tbody{
        > tr{
            //Siparis ozet tablo satırlar icin alt bosluk ve ozellestirme
            display: table;
            width: $fullWidth;
            margin-bottom: $orderSummaryRowBottomSpace;

            //Siparis ozet tablo > metin ozellestirme
            > th, > td{
                font-size: $orderSummaryTableFontSize;
                font-family: $regular;
                font-weight: normal;
            }
            //Th sola hilalı
            > th{
                text-align: $alignLeft;
            }
            //Td sağa hizalı
            > td{
                text-align: $alignRight;
            }
            //toplam tutar metin ozellestirme
            &.pnlDipToplam_sipToplam{
                > th, > td{
                    font-family: $bold;
                }   
            }
            //Siparis ozet indirim satırı renk ozellestirme -- Opsiyonel
            &.pnlDipToplam_indirimToplam{
                > th, > td{
                    color: $colorRed;
                }
            }
            //Siparis ozet gizlenen satırlar
            &.pnlDipToplam_indirimliAraToplam,
            &.pnlDipToplam_kargoHaricToplam {
                display: none;
            }
        }
    }   
}