//siparis ozet masaustu ızgara
.order-summary{
    //Siparis sepet ozet
    order: 1;
    margin-bottom: $orderSummaryMarginBottomDesktop;

    //Siparis ozet avantaj ikonları
    &-benefit{
        order: 2;
    }
    //Siparis ozet yardim
    &-help{
        order: 3;
    }
    //Siparis ozet button alisveris
    .btnSiparisTamamla{
        margin-top: $orderSummaryButtonNextTopSpace;
    }
}