//Sepet sayfası tablo grid kapsayıcı arka plan rengi
.grid-table-wrap{
    background: $colorWhite;
}

//Sepet tablo grid'i
.grid-table-row {
    padding: 20px;
    display: flex;

    //Sepet tablo satır image kolonu
    .grid-img{
        width: 90px;
        img{
            max-width: 120px;
        }
    }
    //Sepet tablo satır urun detay kolon
    .grid-content{
        width: calc(100% - 90px);
    }
    //Sepet tablo urun marka adi
    .grid-brand{
        color: $colorAlternate;
        font-size: $fontSize12;
        line-height: $gridLineHghtDefault;
    }
    .grid-name{
        //Urun adı linki genel css'i
        > a{
            font-size: $fontSize14;
            line-height: $gridLineHghtDefault;
            color: $colorDefault;
        }
        span[id$="lblProm"]{
            //Eger kampanya yoksa o alan gizleniyor
            &:empty{
                display: none;
            }
            //Kampanya alanı genel css düzenlemesi
            *{
                color: $colorAlternate;
                font-size: $fontSize12;
            }
            //Kampanya alanı HTML'i
            > ul
            {
                //Kampanya alanı satır yukselik
                line-height: $gridLineHghtDefault;
                //Kampanya alanı ust bosluk
                margin-top: 5px;
            }
        }
    }
    //Abonelik periyot sure HTML alanı
    .abonelikUrun{
        //Eger icerik bos ise
        &:empty{display: none;}

        //Site ortak class olan flex class'i extend ediliyor
        @extend .display-flex;
        @extend .align-items-center;
        li{
            //sepet abonelik metinleri icin ozellestirme
            color: $colorAlternate;
            font-size: $fontSize12;
            line-height: $gridLineHghtDefault;
        }
    }
    //Urun fiyatlari
    .grid-price{
        // TL simgesi font duzenleme
        .pb1{
            font-family: cursive;
        }
    }
    span[id$="lblURN_INDIRIMLIFIYAT"],
    .gridSepetListe_gercekFiyat{
        font-size: $fontSize14;
    }
    //Varsayılan fiyat
    span[id$="lblURN_INDIRIMLIFIYAT"]{
        order: 1; // sıralama veriliyor
        font-family: $bold;
    }
    // Ilk fiyat    
    .gridSepetListe_gercekFiyat{
        order: 2; // sıralama veriliyor 
        font-family: $medium;
        color: $colorAlternate;
        text-decoration: $linkLineThrough;
    }
    //satis fiyat
    .satBrFiyatVrg{
        margin-right: 10px;
    }
    //sepet icin urun fiyatlari gizlenen alanlar
    .brFiyat,
    .satBrFiyat {display: none !important;}

    //sepet icin urun fiyatlari acilan alanlar
    .brFiyatVrg,
    .satBrFiyatVrg{
        display: inline-flex !important;
    }
    //sepet urun silme
    .grid-remove{
        > a{
            @extend a.btnLink;
        }
    } 
}