//Basket page triple top Slider
.basket-swiper{
    .swiper-slide{ 
        width: (100% / 3);
    }
    // Swiper Slide content
    div.types{
        padding: 15px;
        .image{
            width: 100px;
        }
        .detail{
            width: calc(100% - 100px);
        }
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: -3%;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next{
        left: -3%;
    }
    .swiper-pagination {
        margin-top: $basketSwiperBulletTopSpaceDt;
    }
}