//Basket Sliders Arrow Background -- Optionally
$sliderArrowBackground: #696b71;

//Order Steps Link Color
$stepTextColor: #f1f1fa;

//Order Steps Link Default Color
$stepTextColorNormal: #202020;

//Order Steps Icon Color
$stepIconColor: #202020;

//Order Steps Icon Color
$stepIconColorAlternate: #f1f1fa;

//Order Steps Active Link Background
$order-step-active-round:#3d5deb;