//Basket page default background
$basketPageBg: #f3f3f7;

//Basket sliders arrow background -- Optionally
$sliderArrowBackground: #696b71;

//Basket page step link color
$stepTextColor: #f1f1fa;

//Basket page step link default color
$stepTextColorNormal: #202020;

//Basket page step icon color
$stepIconColor: #202020;

//Basket page step icon color
$stepIconColorAlternate: #f1f1fa;

//Basket page step active link background
$order-step-active-round:#3d5deb;

//Basket page step top spacing
$step-top-spacing:10px;

//Basket page step bottom spacing
$step-bottom-spacing:10px;

//Basket page logo arrow Right Spacing
$basket-arrow-back-spacing: 15px;

//Top swiper bottom space
$swiperTopBottomSpace: 25px;

//Top space mobile
$basketPageTopSpaceMb:20px;

//Top space desktop
$basketPageTopSpaceDt:30px;

//Top swiper bullet desktop space
$basketSwiperBulletTopSpaceDt:15px;

//Top swiper bullet mobile space
$basketSwiperBulletTopSpaceMb:10px;

//Top swiper product name top space
$swiperNameTopSpace: 5px;

//Top swiper add button
$swiperAddButtonMaxWidth: 68px;

//Order summary background
$orderSummaryBg: #ffffff;

//Order summary padding spacing
$orderSummaryPadding:20px;

//Order summary title
$orderSummaryTitle:20px;

//Order summary title Bottom Space
$orderSummaryTitleBottomSpace:20px;

//Order summary table tr row bottom space
$orderSummaryRowBottomSpace:10px;

//Order summary text font size
$orderSummaryTableFontSize:14px;

// Order summary buttons next top space
$orderSummaryButtonNextTopSpace:10px;


//Align Left
$alignLeft:left;

//Align Right
$alignRight:right;