//Ana ızgara
.member-grid { 
    grid-template-columns: minmax(0, 3%) minmax(0, 410px) minmax(0, 1fr) minmax(0, 3%);
    grid-template-areas: ". AAA BBB .";
}

//Uye sol menuye ayar cekiyoruz :)
.pages-member{
    &-left{
        margin-right: 30px;
    }
}
//Uye bilgi Form
.member-info {
    .form{
        max-width: 680px;
        margin-right: auto;
    }
}