//Üyelik sayfası arka plan rengi
$memberPageBg: #f3f3f7;

//Üyelik sayfası kapsayıcı
$memberPagePadding: 30px 0; 

//Üyelik sayfası boşluklar
$padding20: 20px;
$padding15: 20px 15px;

//Üyelik sayfası renkler
$colorWhite: #fff; 
$userIcoBg: #f3f3f7;

// Üye menü border renk
$borderColor: #f3f3f7;

// Üye menü border renk mobil

$borderMenuColor: #cecfd4;

//Üyelik sayfası başlık alt boşluk
$memberTitleMarginBottom: 20px;

//Üyelik sayfası başlık renk
$memberTitleColor: #202020;

//Üyelik sayfası kenar oval
$memberCornerRadius: 4px;

// Üyelik bilgi yazıları alt boşluk
$descriptionBottomMargin: 20px;

// Kayıt yok bilgi lbf
$notFoundBottomMargin: 20px;

// Form input, dropdown ve checkbox ayarları
$labelFontSize: 14px;
$labelFontColor: #696b71;
$labelFontFamily: 'Bold';
$labelLineHeight: 1.86;
$formInputBorderColor: #cecfd4;
$formInputWidth: 1px;
$formInputStyle: solid;
$formInputSize: 14px;
$formInputHeight: 1.86;
$formInputColor: #696b71;
$formInputFamily: 'regular';
$formInputPadding: 10px 15px;
$formInputMaxWidth: 330px;
$formSelectedPadding: 9px 40px 9px 15px; 
$formInputRadius: 2px;
$formBottomMargin: 20px;
$checkboxInputWidth: 2px;
$checkboxSize: 32px;
$checkboxMarginBottom: 5px;

// --- Adres Sayfası --- //

// Adres başlık
$addressTitleColor: #202020; 
$addressTitleFont: 'Bold';

// Adres tipi başlığı
$addressTypeColor: #696b71; 
$addressTypeFont: 'regular';
$addressTypeFontSize: 12px;
$addressTypeLineHeight: 18px;

// Adres yazısı
$addressColor: #202020; 
$addressFont: 'regular';
$addressFontSize: 14px;
$addressLineHeight: 18px;

// Adres link
$addressBtnColor: #696b71; 
$addressBtnFont: 'regular';
$addressBtnFontSize: 12px;
$addressBtnLineHeight: 18px;
$addressBtnDecoration: underline;
$addressBtnMarginRight: 20px;
$addressBtnMarginBottom: 20px;
$addressBtnPaddingBottom: 20px;

// Sipariş sayfası
$orderTextColorDark: #202020;
$orderTextColorGray: #696b71;
$orderTextColorBlue: #3d5deb;
$orderBorderColor: #f3f3f7;
$orderPriceSize: 16px;
$orderBottomPadding: 20px;
$orderBottomMargin: 20px;

// Sipariş detay sayfası
$sipDetailNumFontSize: 20px; 
$sipDetailNumMarginBottom: 30px; 
$sipDetailNumDark: #202020;
$sipDetailNumGray: #696b71; 
$sipDetailBackBtnColor: #696b71;
$sipDetailBackBtnSize: 14px;
$sipDetailBackBtnFont: 'regular';  
$sipDetailBorderColor: #f3f3f7; 
$sipDetailBtnMarginRight: 30px; 
$sipDeliveryTitleColor: #202020;
$sipDeliveryTitleFont: 'bold'; 
$sipDeliveryLineHeight: 18px; 
$sipShoppingFont: 14px; 
$sipShoppingSmallFont: 12px; 
$sipShoppingLineHeight: 18px;
$sipShoppingColor: #202020;
$sipShoppingPriceFont: 16px; 
$sipShoppingPriceSize: 'bold';
$sipShoppingMarginTop: 20px;
$sipShoppingMarginRight: 20px;
$sipShoppingMarginLeft: 20px;
$sipShoppingMarginBottom: 20px;
$sipShoppingPaddingBottom: 20px;
$sipShoppingPaddingLeft: 20px;
$sipPaymentMarginBottom: 10px;

// Sipariş iptal ve iade
$sipRefundMargin5: 5px;
$sipRefundMargin10: 10px;
$sipRefundMargin20: 20px;






